<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.gipertroniks.HoneycombPuzzle"
        version   = "1.0.0">

    <name>Honeycomb Puzzle</name>
    <description>
        Honeycomb Puzzle sample application that responds to the deviceready event.
    </description>
    <author href="http://www.ug-net.com" email="support@ug-net.com">
        Giper-Troniks Private Enterprise 2016 ©
    </author>
    <preference name="permissions" value="none"/>

    <access origin="*"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="res/icone.png" />
    <platform name="android">
        <plugin name="cordova-plugin-admobpro" source="npm" />
        <preference name="Fullscreen" value="true" />
        <allow-intent href="market:*" />
        <preference name="Orientation" value="portrait" />
    </platform>
</widget>